[submodule "controller_firmware/canlib"]
	path = controller_firmware/canlib
	url = https://github.com/waterloo-rocketry/canlib.git
[submodule "mama_board_code.X/canlib"]
	path = mama_board_code.X/canlib
	url = https://github.com/waterloo-rocketry/canlib.git
