# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
~$*
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Random MacOS UI file
.DS_Store

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.csv

# Debug/Binary files
*.ld
Debug

# CUBE IDE cache files
# PS the IDE won't open the project unless .project is present
# the IDE won't build unless .cproject is present
# .mxproject seem to have no valuable metrics thus ignored
# .ioc only has the I/O config, no compilation dependency info
.settings
.mxproject
